

<div id="decryptCode" style="text-align:center;">
  <label> Decrypted Text </label>
  <div class="col-md-12" >
    <span id="spanShowText"> {{DisplayDecryptText}}</span>
  </div>
</div>


<div class="form-group col-md-12">
  <div class="col-md-2">
    <button type="button" id="btnEncrypt" class="form-control btn btn-success" (click)="redirectToEncrypt()">redirect To Encrypt</button>
  </div>
</div>
